:root {
  --blackest: #16181d;
  --blacker: #21242c;
  --black: #282C34;
  --grey: #586074;
  --white: #ABB2BF;
  --whiter: #FFFFFF;
  --red: #E06C75;
  --green: #98C379;
  --yellow: #E5C07B;
  --blue: #61AFEF;
  --magenta: #C678DD;
  --cyan: #56B6C2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

.blackfg {
  color: var(--black);
}
.blackbg {
  background-color: var(--black);
}

.whitefg {
  color: var(--white);
}
.whitebg {
  background-color: var(--white);
}

.redfg {
  color: var(--red);
}
.redbg {
  background-color: var(--red);
}

.bluefg {
  color: var(--blue);
}
.bluebg {
  background-color: var(--blue);
}

.yellowfg {
  color: var(--yellow);
}
.yellowbg {
  background-color: var(--yellow);
}

.greenfg {
  color: var(--green);
}
.greenbg {
  background-color: var(--green);
}

.magentafg {
  color: var(--magenta);
}
.magentabg {
  background-color: var(--magenta);
}

.cyanfg {
  color: var(--cyan);
}
.cyanbg {
  background-color: var(--cyan);
}

#colortest {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: display 500ms;
}

#ct_inner {
  background-color: var(--black);
  border: 1px solid var(--grey);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px var(--blackest);
}

#ct_inner p {
  padding: 10px;
}

.showBtn, #help-btn {
  background-color: var(--black);
  color: var(--grey);
  border: 1px solid var(--grey);
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all 400ms;
  cursor: pointer;
  min-width: 100px;
}
.showBtn:hover, #help-btn:hover {
  filter: brightness(1.5);
  color: var(--white);
}
#help-btn {
  right: 120px;
}

#root {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
}

#main {
  height: 100%;
  width: calc(100% - 360px);
}

#side-bar {
  width: 360px;
  height: 100%;
  border-right: 1px solid var(--grey);
  background-color: var(--blacker);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#side-bar p {
  width: 100%;
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
}
#side-bar p i:first-of-type {
  color: var(--grey);
}
#side-bar p:first-of-type {
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  color: var(--white);
  height: 60px;
  font-size: 1em;
  position: relative;
}

#mysql {
  color: var(--blue);
}
.fa-server {
  margin-right: 10px;
}
.fa-folder-o, .fa-folder {
  margin-right: 20px;
}

.table-list {
}
li {
  height: fit-content;
  padding: 12px 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
}

header {
  height: 60px;
  padding-left: 24px;
  border-bottom: 1px solid var(--grey);
  background-color: var(--blacker);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header p {
  height: 100%;
  line-height: 60px;
}
header p:last-of-type span:first-child {
  font-size: 14px;
  color: var(--grey);
}
#status {
  display: inline-block;
  width: 120px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  transition: all 400ms;
  cursor: pointer;
}
.statusDown {
  color: var(--whiter);
  background-color: var(--red);
}
.statusUp {
  color: var(--blacker);
  background-color: var(--green);
}
.statusPre {
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
}
#refresh {
  margin: 0px 12px;
  color: var(--grey);
  cursor: pointer;
}
.by {
  background-color: var(--blackest);
  border: 1px solid var(--grey);
  border-radius: 10px;
  height: 20px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@keyframes spin {
  from  {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  color: var(--grey);
  transition: all 200ms;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table span {
  cursor: pointer;
}
.table:hover {
  background-color: var(--black) !important;
  color: var(--white) !important;
}
.selected {
  color: var(--white) !important;
}
.greyedOut {
  color: var(--black);
}
.fa-times-circle, .fa-times-circle-o {
  color: var(--red);
}
.fa-check-circle {
  color: var(--green);
}
.fa-question-circle {
  color: var(--grey) !important;
  opacity: 0.5;
}
.left, .right {
}
.seed-button {
  border: none;
  background-color: transparent;
  color: var(--blue);
  height: 28px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  margin-right: 20px;
  cursor: pointer;
  transition: all 400ms;
}
.seed-button:hover {
  background-color: var(--blue);
  color: var(--whiter);
}

#section-header {
  height: 60px;
  border-bottom: 1px solid var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#seed-all, #about {
  height: 100%;
  border: none;
  width: 100px;
  background-color: var(--magenta);
  color: var(--whiter);
  font-size: 1.1em;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 300ms;
}
#seed-all:hover {
  opacity: 1;
}

#qty-form {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--grey);
}
#quantity {
  margin: 0px 16px;
  width: 110px;
  text-align: right;
  background-color: var(--black);
  border: none;
  outline: none;
  color: var(--white);
  border: 1px solid var(--grey);
  background-color: var(--blacker);
  border-radius: 4px;
  padding: 6px;
}
#quantity::placeholder {
  font-style: italic;
  text-align: left;
  color: var(--grey);
  opacity: 1;;
}
#about {
  background-color: var(--blacker);
  color: var(--green);
  border-left: 1px solid var(--grey);
  transition: all 300ms;
}
#about:hover {
  color: var(--whiter);
  background-color: var(--green);
  font-weight: 500;
}
#view {
  color: var(--grey);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 60px);
}
.help-msg {
  width: fit-content;
  position: relative;
  top: -50px;
}
.help-msg p {
  padding: 14px;
}
.todo {
  color: var(--white);
  width: 50%;
}
.todo p {
  margin: 0px auto 24px;
}
.cite {
  padding: 32px;
  color: var(--green);
  border: 1px solid var(--green);
}
.reset {
	border: none;
	width: 120px;
	height: 32px;
	border-radius: 5px;
	background-color: transparent;
	transition: all 400ms;
	cursor: pointer;
}
#drop-tables {
	color: var(--red);
	border: 1px solid var(--red);
	margin-right: 14px;
}
#drop-tables:hover {
	color: var(--whiter);
	background-color: var(--red);
}
#create-tables {
	color: var(--green);
	border: 1px solid var(--green);
	margin-right: 44px;
}
#create-tables:hover {
	color: var(--whiter);
	background-color: var(--green);
}
